body{
	background-color: #51BEFF;
	color: #4457FF;
	width: 1040px;
	margin: 0 auto;
	font-family: verdana;
}
.formarea {
	margin-top: 50px;
	text-align: center;
}

.formarea #search {
	width: 250px;
	height: 30px;
	font-size: 20px;
}

.reviews {
	margin-left: 242px;
}

#headerele {
	text-align: center;
    font-family: 'Pacifico', cursive;
}
